In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(indep, dep)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [8]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
# grid_predictions = grid.predict(X_test) 
   
# # print classification report 
# from sklearn.metrics import r2_score
# r_score=r2_score(y_test,grid_predictions)

# print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'random'}:

In [9]:
table=pd.DataFrame.from_dict(re)

In [10]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006272,0.007682,0.006877,0.007247,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.725873,0.607027,0.722251,0.728639,0.650996,0.686957,0.049355,5
1,0.007196,0.004674,0.004257,0.002736,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.660254,0.625302,0.710446,0.736918,0.778665,0.702317,0.054393,3
2,0.012047,0.006523,0.000806,0.001613,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.703425,0.636854,0.706495,0.689762,0.649472,0.677202,0.028637,8
3,0.012501,0.006250,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.635365,0.563338,0.617572,0.643338,0.581896,0.608302,0.030870,18
4,0.003514,0.006101,0.003904,0.006875,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.629848,0.554436,0.611598,0.673057,0.697536,0.633295,0.049819,16
5,0.006274,0.006441,0.001332,0.001632,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.705836,0.611418,0.681472,0.594937,0.656044,0.649941,0.041630,14
6,0.045488,0.005309,0.002444,0.002755,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.726566,0.597002,0.696957,0.720725,0.742592,0.696768,0.051990,4
7,0.034540,0.003898,0.002683,0.004081,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.690809,0.619255,0.733118,0.777661,0.764095,0.716988,0.057267,1
8,0.034114,0.007325,0.002683,0.004081,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.683815,0.437326,0.712373,0.701117,0.723520,0.651630,0.107953,13
9,0.035345,0.004644,0.008541,0.006644,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.753512,0.554949,0.590756,0.697298,0.543273,0.627957,0.083015,17
10,0.035078,0.008812,0.006714,0.002021,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.662646,0.581914,0.655863,0.668719,0.726235,0.659075,0.046001,11
11,0.026765,0.004351,0.002386,0.002146,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.687895,0.618701,0.689657,0.650093,0.630005,0.655270,0.029152,12
12,0.008681,0.004460,0.003032,0.001912,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.718694,0.650116,0.719796,0.742137,0.683069,0.702763,0.032416,2
13,0.005560,0.004499,0.001878,0.003327,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.685635,0.574557,0.647050,0.716902,0.729558,0.670740,0.055901,9
14,0.012468,0.011666,0.009335,0.006523,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.703033,0.547151,0.680941,0.739248,0.720366,0.678148,0.068268,7
15,0.012898,0.004731,0.004011,0.005649,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.685001,0.603196,0.648460,0.728516,0.673495,0.667734,0.041382,10
16,0.012253,0.005484,0.004210,0.002250,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.731975,0.608905,0.725682,0.637037,0.718865,0.684493,0.051182,6
17,0.010410,0.006905,0.007927,0.008416,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.718997,0.505342,0.663903,0.619536,0.697939,0.641144,0.075781,15

In [11]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:30
BMI:23
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[5693.4305]

In [16]:
#To Save the model using pickle library

import pickle
filename="finallized_model_DR_WithoutTrainingandTesting.sav"

In [17]:
pickle.dump(grid,open(filename,'wb'))

In [18]:
#To test the model
loaded_model=pickle.load(open("finallized_model_DR_WithoutTrainingandTesting.sav",'rb'))
result=loaded_model.predict([[30,23,3,1,0]])

In [19]:
result

array([5693.4305])